*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
/* rowfirst: dòng đầu tiền hình ảnh banner */
.rowfisrt > img {
    width: 100%;
    height: 250px;
   
}
/* rowsecond: dòng thứ 2 bao gồm btn-input của tìm kiếm  */

.rowsecond {
    background-color:white;
    width: 100%;
    height: 80px;
    text-align: center ;
}
#search {
    margin: auto;
    height:40px;
    width: 350px;
    flex-grow: 0.3;
    margin: 20px auto;
    border-radius: 3px;

}

/* rowthird: dòng thứ 3 bao gồm các thẻ a về home page... */
.rowthird {
    background-color: #f4f4f4;
    height: 48px;
    color: #003953;
}

.rowthird ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.rowthird ul>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #003953;
    font-weight: 600;
    font-size:large;
}
.rowthird ul>li>a:hover {
    cursor: pointer;
    background-color: lightgray;
    color:#000000
}

/* nút add ở phía ngoài để bung màn lên ở html */
.btn{
    margin: 0px auto;
}

.btn-add{
    width: 110px;
    height:50px;
    font-size: 20px;
    margin: 10px;
    background-color: #003953;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn-add:hover{
    transform: scale(1.1);
    background-color: #0076bd;
}

/* nút edit và delete ở js */
.btn-edit-delete{
    width: 60px;
    height: 40px;
    border-radius: 10px;
}
.btn-edit{
    background-color: #536164;
    color: white;
}
.btn-edit:hover {
    cursor: pointer;
    background-color:#9cb6bc;
    transform: scale(1.1);
}

.btn-delete {
    background-color:brown;
    color: white;
}
.btn-delete:hover {
    background-color: rgb(200, 49, 49);
    cursor: pointer;
    transform: scale(1.1);

}

/* khi ở trong màn có 3 nút save cancel và add ở html  */
.btn-3btn {
    width: 60px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}
/* primary: là nút add 
    warning: là nút save */
.btn-primary, .btn-warning {
    background-color: #003953;
    color: white;
}

.btn-primary:hover, .btn-warning:hover {
    cursor: pointer;
    background-color: #0076bd;
    transform: scale(1.1);
}
/* danger: là nút cancel */
.btn-danger {
    background-color: goldenrod;
    color: white;
}
.btn-danger:hover {
    background-color: rgb(230, 189, 86);
    cursor: pointer;
    transform: scale(1.1);
}

/* container để chứa sản phẩm hiện ra bao gồm th và td */
.container {
    max-width: 95%;
    margin: 30px auto;
}
.row {

    width: 100%;
}
/* đây là bảng */
.table{
    width: 100%;
    background-color: #f4f4f4;
    
}
.th{
    background-color:#003953;
    height: 40px;
    border-collapse: collapse;
    color:white;
    font-size: 20px;
    padding: 5px;
}
.th>th {
    border-radius: 5px;
}
.tbody{
    font-size: 18px;
}
.photo-sm{
    width: 200px;
    height:200px;
    border-radius: 5px;
}
.photo-sm:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.text-center {
    text-align: center;
}
.text-center>td {
    padding: 10px;
}

/* Đây là chứa khi bung màn lên */
.model-container{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;

    /* không xuất hiện là dùng opacity = 0 */
    opacity: 0;

    /* kích vào sẽ ẩn là pointer-events: none */
    pointer-events: none;

    /* đây là thấy xuất hiện đậm dần lên */
    transition: .3s ease;
}
/* khi muốn xuất hiện màn là show */

.show {
    opacity: 1;
    pointer-events: auto;
}

.model {
    width: 400px;
    height: 250px;
    background-color: rgb(203, 226, 245);
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 3px 3px 3px black (0, 0, 0, 0.9);
    
}

.modelheader {
    display: flex;
    justify-content:space-between;
    /* border-bottom: 1px solid gray; */
    padding: 5px 5px;


}
.modeltitle {
    font-size: 20px;
    font-weight: 600;
    color:#003953
}
/* closemodel này là dấu x (&times;) */

.closemodel{
    font-weight: bolder;
    font-size: 20px;
}
.closemodel:hover {
    cursor: pointer;
}

/* d-none là dùng để support nút toggle hoặc nút add hoặc remove. xuất hiện hay k xuất hiện */
.d-none {
    display: none;
}

/* ở html của div chứa nội dung khi bung màn lên */

.descript{
    width: 100%;
}
.descript input {
    width: 250px;
    border-radius: 3px;
}


