*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
.rowfisrt > img {
    width: 100%;
    height: 250px;
   
}
.rowsecond {
    background-color:white;
    width: 100%;
    height: 80px;
}
.rowthird ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.rowthird ul>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #003953;
    font-weight: 600;
    font-size:large;
}
.rowthird ul>li>a:hover {
    cursor: pointer;
    background-color: lightgray;
    color:#000000
}
.btn{

    margin: 0px auto;
}
.btn-input{
    height:40px;
    width: 350px;
    flex-grow: 0.3;
    margin: 20px auto;
    border-radius: 3px;
}

.btn-search{
   background-color:#003953;
   color: white;
   height:40px;
   width: 80px;
   border-radius: 5px;
}
.btn-search:hover {
    cursor: pointer;
    background-color:#0076bd ;
}
.btn-add{
    width: 110px;
    height:60px;
    font-size: 20px;
    margin: 10px;
    background-color: #003953;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.btn-add:hover{
    background-color: #0076bd;
}

.btn-edit-delete{
    width: 60px;
    height: 40px;
    border-radius: 10px;
}
.btn-edit{
    background-color: #536164;
    color: white;
}
.btn-edit:hover {
    cursor: pointer;
    background-color:#9cb6bc;
    transform: scale(1.1);
}

.btn-delete {
    background-color:brown;
    color: white;
}
.btn-delete:hover {
    background-color: rgb(200, 49, 49);
    cursor: pointer;
    transform: scale(1.1);

}
.btn-3btn {
    width: 60px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.btn-primary, .btn-warning {
    background-color: #003953;
    color: white;
}

.btn-primary, .btn-warning:hover {
    cursor: pointer;
    background-color: #0076bd;
    transform: scale(1.1);
}
.btn-danger {
    background-color: goldenrod;
    color: white;
}
.btn-danger:hover {
    background-color: rgb(230, 189, 86);
    cursor: pointer;
    transform: scale(1.1);
}
.rowsecond{
    text-align: center ;
}

.rowthird {
    background-color: #f4f4f4;
    height: 48px;
    color: #003953;
}


.container {
    max-width: 95%;
    margin: 30px auto;
}
.row {

    width: 100%;
}
.table{
    width: 100%;
    background-color: #f4f4f4;
    
}
.th{
    background-color:#003953;
    height: 40px;
    border-collapse: collapse;
    color:white;
    font-size: 20px;
    padding: 5px;
}
.th>th {
    border-radius: 5px;
}
.tbody{
    font-size: 18px;
}
.photo-sm{
    width: 200px;
    height:200px;
}
.text-center {
    text-align: center;
}
.text-center>td {
    padding: 10px;
}

.model-container{
    /* position: fixed;
    left: 0px;
    top:0px;
    background-color: grey (0, 0, 0, 0.9);
    align-items: flex-start;
    justify-content: center; */
    /* khong xuat hien dung opacity */
    /* opacity: 0;
    pointer-events: none; */
    /* kich vao se an  */

    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.show {
    opacity: 1;
    pointer-events: auto;
}

.model {
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 3px 3px 3px black (0, 0, 0, 0.9);
    
}

.modelheader {
    display: flex;
    justify-content:space-between;
    /* border-bottom: 1px solid gray; */
    padding: 5px 5px;


}
.modeltitle {
    font-size: 20px;
    font-weight: 600;
    color:#003953
}

.closemodel{
    font-weight: bolder;
    font-size: 20px;
}
.closemodel:hover {
    cursor: pointer;
}
.d-none {
    display: none;
}


.descript{
    width: 100%;
}
.descript input {
    width: 250px;
    border-radius: 3px;
}


